# **Introduction**

_Welcome to the chinook notbook._

_After creating the chinbook database and importing the data records into it, Now there's several questions needs to be answered which in return requires to write some queries._

## **_Questions :_**

- _Which artist has earned the most according to the InvoiceLine ?_
- _Which artists has created the most amount of albums ?_
- _What is the most sold genre ?_
- _What is the most popular genres per country ?_

## **_1- Which artist has earned the most according to the InvoiceLine?_**

In [6]:
SELECT table_d.Name, sum(table_a.UnitPrice) as 'Amount spent'
FROM InvoiceLine AS table_a
INNER JOIN Track AS table_b
ON table_b.TrackId = table_a.TrackId
INNER JOIN Album AS table_c
ON table_c.AlbumId = table_b.AlbumId
INNER JOIN Artist AS table_d
ON table_d.ArtistId = table_c.ArtistId
GROUP BY  table_d.Name
ORDER BY 2 DESC
OFFSET 0 ROWS
FETCH NEXT 10 ROWS only;

Name,Amount spent
Iron Maiden,138.60
U2,105.93
Metallica,90.09
Led Zeppelin,86.13
Lost,81.59
The Office,49.75
Os Paralamas Do Sucesso,44.55
Deep Purple,43.56
Faith No More,41.58
Eric Clapton,39.60

_We can see that iron maiden is the_ _artist with the most earnings._

## **_2- Which artists has created the most amount of albums ?_**

In [2]:
SELECT table_a.name, count(table_b.title) as 'Number of Albums'
FROM Artist table_a
JOIN Album table_b
on table_a.ArtistId = table_b.ArtistId
GROUP by table_a.name
order by count(table_b.title) DESC
OFFSET 0 ROWS
FETCH NEXT 10 ROWS only;

name,Number of Albums
Iron Maiden,21
Led Zeppelin,14
Deep Purple,11
Metallica,10
U2,10
Ozzy Osbourne,6
Pearl Jam,5
Faith No More,4
Foo Fighters,4
Lost,4

_It can be noticed here that the artist with the most released albums is “iron maisen”._

## **_3- What is the most sold genre ?_**

In [3]:
SELECT table_a.Name, SUM(table_c.UnitPrice)
FROM Genre table_a
JOIN Track table_b
ON table_a.GenreId = table_b.GenreId
JOIN InvoiceLine table_c
ON table_c.TrackId = table_b.TrackId
GROUP BY table_a.Name
ORDER BY SUM(table_c.UnitPrice) DESC;

Name,(No column name)
Rock,826.65
Latin,382.14
Metal,261.36
Alternative & Punk,241.56
TV Shows,93.53
Jazz,79.20
Blues,60.39
Drama,57.71
R&B/Soul,40.59
Classical,40.59
Sci Fi & Fantasy,39.80
Reggae,29.70
Pop,27.72
Soundtrack,19.80
Comedy,17.91
Hip Hop/Rap,16.83
Bossa Nova,14.85
Alternative,13.86
World,12.87
Science Fiction,11.94
Heavy Metal,11.88
Electronica/Dance,11.88
Easy Listening,9.90
Rock And Roll,5.94

_The most sold genre type is Rock .Also Latin, Metal and Alternative & punk have taken large areas of the pie chart._

## **_4- What is the most popular genres per country ?_**

In [11]:
WITH genres as 
(SELECT namee, MAX(num) AS largest
from 
(SELECT table_e.country AS namee, table_a.Name,count(table_a.Name) AS num
FROM Genre table_a
JOIN Track table_b
ON table_a.GenreId = table_b.GenreId
JOIN InvoiceLine table_c
ON table_c.TrackId = table_b.TrackId
JOIN Invoice table_d
ON table_d.InvoiceId = table_c.InvoiceId
JOIN Customer table_e
on table_e.CustomerId = table_d.CustomerId
GROUP by table_e.country , table_a.Name) AS t1
GROUP BY namee)
SELECT table_k.country AS namee, table_f.Name, COUNT(table_f.Name) AS num
FROM Genre table_f
JOIN Track table_q
ON table_f.GenreId = table_q.GenreId
JOIN InvoiceLine table_w
ON table_w.TrackId = table_q.TrackId
JOIN Invoice table_h
ON table_h.InvoiceId = table_w.InvoiceId
JOIN Customer table_k
on table_k.CustomerId = table_h.CustomerId
JOIN genres table_x
on table_x.Namee = table_k.Country
GROUP by table_k.country , table_f.Name
HAVING MAX(table_x.largest) = count(table_f.name) 
ORDER BY count(table_f.Name) DESC
OFFSET 0 ROWS
FETCH NEXT 24 ROWS only;

namee,Name,num
USA,Rock,157
Canada,Rock,107
Brazil,Rock,81
France,Rock,65
Germany,Rock,62
United Kingdom,Rock,37
Portugal,Rock,31
Czech Republic,Rock,25
India,Rock,25
Spain,Rock,22
Poland,Rock,22
Australia,Rock,22
Belgium,Rock,21
Denmark,Rock,21
Finland,Rock,18
Netherlands,Rock,18
Italy,Rock,18
Norway,Rock,17
Austria,Rock,15
Ireland,Rock,12
Sweden,Latin,12
Hungary,Rock,11
Chile,Rock,9
Argentina,Rock,9

_Sounds like Rock is the most popular genre for 24 countries._